<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="/Users/rajasekar.kulasekaran/IdeaProjects/CucumberRestAPIAutomation">
        <classes>
            <class name="Test.testing">
                <methods>
                    <include name="test1"/>
                    <include name="test2"/>
                    <include name="addPlace"/>
                </methods>
            </class>
            <class name="Test.ComplexJson">
                <methods>
                    <include name="complexResponse"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>